{% extends "base.html" %}


{%block title%}
Contact
{%endblock title%}

{% block body %}


<div class="profile-page">
<div class="wrapper">
    <div class="page-header">
      <img src="static/assets/img/dots.png" class="dots">
      <img src="static/assets/img/path4.png" class="path">
      <div class="container align-items-center">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <h1 class="profile-title text-left">Suryansh Chaudhary</h1>
            <h5 class="text-on-back">01</h5>
            <p class="profile-description">AI/ML Developer , Looking to connect ..</p>
            <div class="btn-wrapper profile pt-3">
              <a target="_blank" href="https://twitter.com/Suryansh_2001" class="btn btn-icon btn-twitter btn-round" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-twitter"></i>
              </a>
              <a target="_blank" href="https://www.linkedin.com/in/suryansh-chaudhary-2209" class="btn btn-icon btn-facebook btn-round" data-toggle="tooltip" data-original-title="Like us">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a target="_blank" href="https://github.com/Suryansh-Codes2209" class="btn btn-icon btn-dribbble  btn-round" data-toggle="tooltip" data-original-title="Follow us">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-coin card-plain">
              <div class="card-header">
                <img src="static/assets/img/ansh.png" class="img-center img-fluid rounded-circle">
                <h4 class="title">👋 Hi, Thank for visit the SparkMind {AI}. Hope you like it.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-plain">
              <div class="card-header">
                <h1 class="profile-title text-left">Contact</h1>
                <h5 class="text-on-back">02</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Your Name</label>
                        <input type="text" class="form-control" value="Suryansh">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="suryansh@email.com">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" value="+91 8941873342">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Company</label>
                        <input type="text" class="form-control" value=".....">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Message</label>
                        <input type="text" class="form-control" placeholder="Hello there!">
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-round float-right" rel="tooltip" data-original-title="Can't wait for your message" data-placement="right">Send text</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="tim-icons icon-square-pin"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Find us at the office</h4>
                <p> Khumbha Marg, Sector-10
                  <br> Pratap nagar
                  <br> Jaipur,Rajasthan
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="tim-icons icon-mobile"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Give us a ring</h4>
                <p>Suryansh Chaudhary
                  <br> +919799945506
                  <br> Mon - Fri, 8:00-22:00
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    {% endblock body %} 